nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand nav-item" href="/") Scheduler
  h4 Hello Employee
  //- hamburger button on small screens
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
      //- this div will be inside the hamburger!
  div(class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup")
    //- if session.passport
    //- user info shown only when logged in
    a(class="btn btn-outline-primary" href="#")  Availability

    a(class="btn btn-outline-primary" href="#")  Profile
    //- logout button
    form(method="POST" class="form-inline nav-item")
      button(class="btn btn-outline-primary" type="submit" formaction="/logout") Logout