nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand nav-item" href="/") Scheduler
  -let name = session.passport.user.firstName;
  h4 Hello #{name}
  //- hamburger button on small screens
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
      //- this div will be inside the hamburger!
  div(class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup")
    //- if session.passport
    //- user info shown only when logged in
    a( href="/employee/profile")  Profile
    a( href="/employee/availability-view")  Availability
    a( href="/change-password")  Change Password
    //- logout button
    form(method="POST" class="form-inline nav-item")
      button(class="btn btn-link" type="submit" formaction="/logout") Logout