extends layout.pug
block content
  .row
    .col-6
      h3 Login:
      form(name="save-password" method="post" action="/change-password")
        .form-group
          label(class="form-control-label" for="employeeId") Employee ID
          input(id="employeeId" type="text" class="form-control" placeholder="12345" name="employeeId")
        .form-group
          label(class="form-control-label" for="cpassword") Current Password
          input(id="cpassword" type="password" class="form-control" placeholder="Current Password" name="cpassword")
        .form-group
          label(class="form-control-label" for="n1password") New Password
          input(id="n1password" type="password" class="form-control" placeholder="New Password" name="n1password")
        .form-group
          label(class="form-control-label" for="n2password") New Password
          input(id="n2password" type="password" class="form-control" placeholder="New Password" name="n2password")
        button(type="submit" class="btn-primary") Change
      h4 #{message}