nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  a(class="navbar-brand nav-item" href="/")
    img(src="/public/images/clock.png" alt="logo" class="center-image")
  div(class="nav-item row")
    //- login button
    h2(class="mainHeader")
      a(class="navbar-brand nav-item mainHeader" href="/") nTheClok
