nav {
  margin-bottom: 35px;
}
.table {
  margin: 25px 0;
}

.account-btn {
  margin-right: 10px;
}

.print-button {
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.green {
  color: green;
}

.gray {
  color: gray;
}
.red {
  color: red;
}
