nav {
  margin-bottom: 35px;
}
.table {
  margin: 25px 0;
}

.account-btn {
  margin-right: 10px;
}

.print-button {
  background: white;
  cursor: pointer;
}

.green {
  background-color: #e48c5c !important;
}

.blue {
  background-color: #44b9dd !important;
}
.red {
  background-color: #f0d120 !important;
}
