extends ../layout.pug
block content
	h1 Employees in Department
	table(class="table")
		thead
			tr
				th(scope="col") Name
		tbody
			each employee in employees
				if(employee.id !== session.passport.user.id)
					tr
						td
							a(href=`/manager/employee-details/${employee.id}`) #{employee.firstName} #{employee.lastName}