nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  a(class="navbar-brand nav-item" href="/welcome")
    img(src="/public/images/clock.png" alt="logo" class="center-image")
  div(class="nav-item row")
    //- login button
    h2(class="mainHeader") nTheClok
  //- hamburger button on small screens
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
      //- this div will be inside the hamburger!
  div(class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup")
    //- user info shown only when logged in
    a( href="/manager/profile" style="margin-left:50px;")  Profile
    a( href="/manager/manager-schedule")  Schedule
    a( href="/manager/add-employee")  Add New Employee
    a( href="/manager/manage-employee")  Manage Employee

    //- logout button
    form(method="POST" class="form-inline nav-item")
      button(class="btn btn-link" type="submit" formaction="/logout") Logout
      script(src='/public/lib/jQuery/jquery.js')
      script(src='/public/javascripts/main.js')