nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand nav-item" href="/") Scheduler
  //- hamburger button on small screens
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
      //- this div will be inside the hamburger!
  div(class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup")
    //- user info shown only when logged in
    h4 Hello #{name}
    a( href="/manager/profile")  Profile
    a( href="/manager/manager-schedule")  Schedule
    a( href="/manager/add-employee")  Add New Employee
    a( href="/manager/manage-employee")  Manage Employee
    a( href="/change-password")  Change Password

    //- logout button
    form(method="POST" class="form-inline nav-item")
      button(class="btn btn-link" type="submit" formaction="/logout") Logout